body {
    background-color: rgba(137, 144, 164, 0.2);
}

button {
    margin: 5px;
    background-color: rgba(204, 215, 192, 0.59);
    font-family: "Karla";
    padding: 5px;
}

#collections {
  font-size: 20px;
  font-weight: 600;
  padding-top: 10px;
  font-family: "Exo 2";
  color: rgb(29, 121, 99);
}

.dropdown {
  outline: 2px
}

img {
  padding: 10px;
}
