body {
    font-family: "Josefin Sans";
    background: #ffffff;
}

.rowWithFullWidth {
    margin-left: 0;
    margin-right: 0;
}


/*********************NAVIGATION*********************/

.navbar {
    background: rgb(228, 223, 254);
}

.nav.navbar-nav.navbar-right li a {
    color: rgb(238, 77, 55);
    font-size: 20px;
    font-weight: bold;
}


/*********************NAVIGATION*********************/


/*********************LANDING PAGE*********************/

h1 {
    font-family: "Abril Fatface";
}

h2 {
    padding: 10px;
    font-size: 28px;
    font-weight: 200;
    color: rgb(121, 119, 124);
}

#welcome {
    font-size: 70px;
    color: rgb(133, 83, 226);
    margin-right: 20vw;
}

.ooma {
    color: rgb(83, 83, 98);
    font-size: 40px;
    text-align: center;
}

.divider {
    width: 100vw;
    opacity: 0.25;
    margin: 8vh 0;
}

#explore {
    font-family: "Josefin Sans";
    font-size: 55px;
    font-weight: 500;
    color: rgb(83, 83, 98);
}

#museums {
    height: 480px;
    text-align: center;
    margin: 0 auto;
}

.museumDisplay {
    height: 40vh;
    width: 50vw;
    display: inline-block;
    font-family: "Abril Fatface";
    font-size: 40px;
    color: rgb(238, 77, 55);
}

.museumDisplay img {
    height: 320px;
    border-radius: 5px;
}

#contactDiv {
    height: 200px;
    width: 100vh;
    text-align: center;
    margin: 0 auto;
    color: rgb(133, 83, 226);
}

.shadow {
    box-shadow: 5px 6px 13px 2px #B3AAD4;
    -webkit-box-shadow: 5px 6px 13px 2px #B3AAD4;
    -moz-box-shadow: 5px 6px 13px 2px #B3AAD4;
    -o-box-shadow: 5px 6px 13px 2px #B3AAD4;
}

#mail {
    color: rgb(238, 77, 55);
    font-size: 40px;
}

.glyphicon {
    font-size: 30px;
    color: rgb(238, 77, 55);
    padding: 0 10px;
}

#footer {
    height: 80px;
    background: rgb(228, 223, 254);
}

#footer p {
    padding: 0 50px;
    font-size: 20px;
}

#footer a {
    color: rgb(238, 77, 55);
}


/*********************LANDING PAGE*********************/


/*********************ABOUT PAGE*********************/

#about {
    height: 80vh;
    width: 100vw;
    text-align: center;
    color: rgb(133, 83, 226);
}

#aboutHeader {
    font-size: 70px;
    color: rgb(133, 83, 226);
    padding: 4vh 0;
}

#about p {
    font-size: 25px;
    color: rgb(83, 83, 98);
    line-height: 50px;
}

#about a {
    color: rgb(238, 77, 55);
}

#about h4 {
    font-size: 15px;
    color: rgb(121, 119, 124);
}


/*********************ABOUT PAGE*********************/


/*************************MUSEUM*********************/

#buttons {
    display: inline;
    padding: 0;
    margin: 0;
}

button {
    background: rgb(228, 223, 254);
    color: rgb(121, 119, 124);
}

.museumTag {
    color: rgb(133, 83, 226);
    font-size: 24px;
}

.row-centered {
    text-align: center;
}

.col-centered {
    display: inline-block;
    float: none;
}

.dropdown-toggle {
    height: 60px;
    width: 270px;
    font-size: 20px;
}

#searchfield {
    height: 5vh;
    padding-top: 10px;
}

#s {
    text-align: center;
    height: 60px;
    width: 270px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 200;
    color: rgb(121, 119, 124);
}

#content {
    width: 100vw;
    padding: 40px 0;
}

#art {
    width: 83vw;
    height: 80vh;
    overflow: scroll;
    margin-bottom: 30px;
}

.arrowBtn {
    height: 80vh;
    padding-top: 40vh;
}

#info {
    height: 140px;
    width: 70vw;
    overflow: scroll;
    border-radius: 5px;
    border: 2px rgb(169, 171, 181) solid;
    font-size: 18px;
    line-height: 20px;
}

.art {
    height: 80vh;
}

#content p {
    color: rgb(121, 119, 124);
}

.quote {
    color: rgb(121, 119, 124);
    font-size: 22px;
}


/*************************MUSEUM*********************/
